{% extends 'base.html' %}


{% block title %}
    Create attendance
{% endblock %}

{% block header %}<h1>Create attendance</h1>{% endblock%}

{% block content %}

<form action="" method="POST">
    <div class="form-group">
    <label for="date">Date</label>
    <input class="form-control" type="date" name="date" id="">
    </div>
    <div class="form-check">
    <label for="isOpen">attendance Status</label><br>
    <input class="form-check-input" type="radio" name="isOpen" id="" value="True" style="display: inline">Open<br>
    <input class="form-check-input" type="radio" name="isOpen" id="" value="False" style="display: inline">Close<br>
    </div>
    <div class="form-group">
    <label for="mode_of_study">Study Mode</label>
    <select class="form-control" name="mode_of_study" id="">
        <option value="FM">Full Mode</option>
        <option value="PT">Part Time</option>
    </select>
    </div>
    <input type="text" name="id" style="display: none">
    <input class="btn" type="submit" value="Create">
</form>
<h1>See attedances</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Study Mode</th>
        <th scope="col">Status</th>
        <th scope="col">Change Status</th>
        <th scope="col">Action</th>
    </tr>
</thead>
{% for attendance in attendances %}
    <tr>
        <td>{{ attendance['attendanceId'] }}</td>
        <td>{{ attendance['attendanceDate'] }}</td>
        <td>{{ attendance['mode_of_study'] }}</td>
        {% if attendance['isOpen'] == 1%}
        <td>Open</td>
        <td>
            <form action="" method="POST">
                <input type="text" name="id" value="{{ attendance['attendanceId'] }}" style="display: none">
                <input type="text" name="action" value="close" style="display: none">
            <input type="submit" value="Close">
            </form>
        </td>
        {% else %}
        <td>Closed</td>
        <td>
                <form action="" method="POST">
                        <input type="text" name="id" value="{{ attendance['attendanceId'] }}" style="display: none">
                        <input type="text" name="action" value="open" style="display: none">
                <input type="submit" value="Open">
                </form>
            </td>
        {% endif %}
        <td><a href="{{ url_for('at.seeAttendance', atId=attendance['attendanceId']) }}">See</a></td>
    </tr>
{% endfor %}
</table>

{% endblock%}


<!-- CREATE TABLE attendance (
    attendanceId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    attendanceDate DATETIME NOT NULL,
    isOpen BOOLEAN NOT NULL,
    mode_of_study TEXT NOT NULL
); -->