{% extends 'base.html' %}


{% block title %}
    Login
{% endblock %}

{% block header %}<h1>Login</h1>{% endblock%}
{% block content %}
    <form action="" method="POST">
        <label for="id">Student/Lecturer ID</label>
        <input name="id" id="id" type="text" placeholder="21800731/ccosta">
        <label for="password">Password</label>
        <input name="password" id="password" type="text">
        <label for="role">Role</label>
        <select name="role" id="">
            <option value="student">Student</option>
            <option value="lecturer">Lecturer</option>
            <option value="admin">Admin</option>
        </select>
        <input type="submit" value="login">
    </form>

{% endblock%}

